@tailwind base;
@tailwind components;
@tailwind utilities;

.filho{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin: 3px;
  width: 74px;
  height: 57px;
  border-radius: 3px;
  cursor: pointer;
}

.res{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 50px;
  height: 30px;
}

.pai2{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.fundo{
  background-color: rgb(49, 49, 49);
  width: 323px;
}

.numero{
  display: flex;
  justify-content: end;
}

.numeroTitle{
  font-size: 50px;
  margin-right: 15px;
}

.pai{
  background-color: rgb(49, 49, 49);
  display: flex;
  width: 323px;
  justify-content: center;
  height: 398px;
  flex-wrap: wrap;
}

.res{
  display: flex;
  justify-content: center;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
